.passres-h3{
    text-align: center;
}
.passres-body{
    margin: 10px auto;
    width: 1300px;
    background-color: whitesmoke;
    padding: 20px;
}
.passres-warning-pass{
    text-align: center;
    color: red;
}
.passres-form{
    text-align: center;
}

.passres-formdiv label{
    width: 180px;
    margin-top: 10px;
}
.passres-formbutton{
    margin-top: 10px;
}