<h3>Live Streaming</h3>

<p>ID: <span id="my-id"></span></p>
<div>
    room name: <input id="room-name" type="text" />
    <button id="join">join</button>
</div>
<button id="js-leave-trigger">Leave</button>
<video id="local-video" width="256px" muted playsinline></video>
<div id="remote-media-area"></div>

<script src="https://cdn.jsdelivr.net/npm/@skyway-sdk/room/dist/skyway_room-latest.js"></script>
<script type="text/javascript">
const { nowInSec, SkyWayAuthToken, SkyWayContext, SkyWayRoom, SkyWayStreamFactory, uuidV4 } = skyway_room;
const token = new SkyWayAuthToken({
    jti: uuidV4(),
    iat: nowInSec(),
    exp: nowInSec() + 60 * 60 * 24,
    scope: {
      app: {
        id: 'f09af3b7-deef-4c03-94ee-882e76e83cd2',
        turn: true,
        actions: ['read'],
        channels: [
          {
            id: '*',
            name: '*',
            actions: ['write'],
            members: [
              {
                id: '*',
                name: '*',
                actions: ['write'],
                publication: {
                  actions: ['write'],
                },
                subscription: {
                  actions: ['write'],
                },
              },
            ],
            sfuBots: [
              {
                actions: ['write'],
                forwardings: [
                  {
                    actions: ['write'],
                  },
                ],
              },
            ],
          },
        ],
      },
    },
  }).encode('VLkgeH0xckaECXxe0c7VqLvLhGphIlbPXaLh2nXA7Fk=');

(async () => {
// 1
const localVideo = document.getElementById('local-video');

const { audio, video } = await SkyWayStreamFactory.createMicrophoneAudioAndCameraStream({
    video: { height: 144, width: 256, frameRate: 1 },
}); // 2

video.attach(localVideo); // 3
await localVideo.play(); // 4


const remoteMediaArea = document.getElementById('remote-media-area');
const roomNameInput = document.getElementById('room-name');
const myId = document.getElementById('my-id');
const joinButton = document.getElementById('join');
const leaveTrigger = document.getElementById('js-leave-trigger');

joinButton.onclick = async () => {
    if (roomNameInput.value === '') return;
    
    const context = await SkyWayContext.Create(token);
    let room = await SkyWayRoom.FindOrCreate(context, {
        type: 'sfu',
        name: roomNameInput.value,
    
    
    });

    
    // ルーム参加 Memberオブジェクトをmeに格納
    const me = await room.join();
    
    // 自分のIDをmyIdに格納
    myId.textContent = me.id;
    
    // 送信
    await me.publish(video, { maxSubscribers: 1 });
    
    // 受信
    const subscribeAndAttach = async (publication) => {
        if (publication.publisher.id === me.id) return;


        const { stream } = await me.subscribe(publication.id);

        let newMedia;
        if (stream.track.kind == 'video'){
            newMedia = document.createElement('video');
            newMedia.playsInline = true;
            newMedia.autoplay = true;
            newMedia.setAttribute(
                'data-member-id',
                publication.publisher.id
            );
        }else{
            return;
        }

        stream.attach(newMedia);
        remoteMediaArea.appendChild(newMedia);

    };

    room.publications.forEach(subscribeAndAttach);
    room.onStreamPublished.add((e) => subscribeAndAttach(e.publication));

    const disposeVideoElement = (remoteVideo) => {
        const stream = remoteVideo.srcObject;
        stream.getTracks().forEach((track) => track.stop());
        remoteVideo.srcObject = null;
        remoteVideo.remove();
    };

    // 誰かが退出
    room.onMemberLeft.add((e) => {
        if (e.member.id === me.id) return;

        console.log(`${e.member.id}が退出しました`);
        console.log(`${room.members}が退出しました`);
        

        const remoteVideo = remoteMediaArea.querySelector(
            `[data-member-id="${e.member.id}"]`
        );

        disposeVideoElement(remoteVideo);

    });


    // 自分が退出
    me.onLeft.once(() => {
      Array.from(remoteMediaArea.children).forEach((element) => {
        disposeVideoElement(element);
      });
      console.log("自分が退出しました");
      room.dispose();
      room = undefined;
    });

    leaveTrigger.addEventListener('click', () => me.leave(), {
      once: true,
    });


  };

})();

// join - leave 切り替え

</script>
