{% extends 'base.html' %}

{% block title %}パスワード変更画面{% endblock %}

{% block content %}
<div class="passres-body">
    <h3 class="passres-h3">パスワード変更画面</h3>
    {% if warning == 'pass_different' %}
        <div class="passres-warning-pass"><span>パスワードが違います。</span></div>
        
    {% endif %}
    <form class="passres-form" method="post" name="form">
        <div class="passres-formdiv">
            <label for="">現在のパスワード:</label>
            <input type="password" name="user_pass" id="">
        </div>

        <div class="passres-formdiv">
            <label for="">新しいパスワード:</label>
            <input class="inputs" type="password" name="user_newpass" id="" minlength="6" pattern="[a-zA-Z0-9!-/:-@\[-`{-~]*" title="半角英数字記号で入力してください。">
        </div>

        <div class="passres-formdiv">
            <label for="">新しいパスワード(確認):</label>
            <input class="inputs" type="password" id="" minlength="6" pattern="[a-zA-Z0-9!-/:-@\[-`{-~]*" title="半角英数字記号で入力してください。">    
        </div>

        <div class="passres-formbutton">
            <input type="submit" value="送信する">
        </div>
        

    </form>

</div>



{% endblock content %}